services:
  app:
    build: .
    ports:
      - "4000:4000"
    env_file:
      - .env
    volumes:
      - ./modules:/app/modules
      - ./priv/static/images:/app/priv/static/images
      - ./priv/static/assets/css/theme:/app/priv/static/assets/css/theme
